<%= @greeting %>, find me in app/views/welcome_mailer/welcome_mailer.text.erb
<h1> Hello <%= @user.first_name%>!</h1>
<h2>Welcome to Stock App</h2>
<p>You have successfully created an account with us. Currently your account is pending. Please wait for our System Administrator to confirm your account to enjoy the perks of Selling. Thank you!</p>
