<<<<<<< HEAD
<h1> Hello <%= @user.full_name%>!</h1>
<h2>Welcome to App</h2>
<p>You have successfully created an account with us. Currently your account is pending and you will only be able to Buy stocks. Please wait for our System Administrator to confirm your account to enjoy the perks of Selling. Thank you!</p>
=======
<h1>Welcome#welcome_mailer</h1>

<p>
  <%= @greeting %>, find me in app/views/welcome_mailer/welcome_mailer.html.erb
</p>
>>>>>>> mailers generated
